<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language C #Les Variables</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <table>
        <tr>
            <th>Type</th>
            <th>Occupation mémoire</th>
            <th>Valeur minimum</th>
            <th>Valeur maximum</th>
        </tr>
        <tr>
            <td class="aqua">char</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="aqua">signed char</td>
            <td>1 octet</td>
            <td>-128</td>
            <td>127</td>
        </tr>
         <tr>
            <td class="aqua">unsigned char</td>
            <td>1 octet</td>
            <td>0</td>
            <td>255</td>
        </tr>
        <tr>
            <td class="aqua">int</td>
            <td>2 octets / 4 octets</td>
            <td>-32 768 / -2 147 483 648</td>
            <td>32 767 / 2 147 483 647</td>
        </tr>
        <tr>
            <td class="aqua">unsigned int</td>
            <td>2 octets / 4 octets</td>
            <td>0 / 0</td>
            <td>65 535 / 4 294 967 295</td>
        </tr>
        <tr>
            <td class="aqua">short</td>
            <td>2 octets</td>
            <td>-32 768</td>
            <td>32 767</td>
        </tr>
        <tr>
            <td class="aqua">unsigned short</td>
            <td>2 octets</td>
            <td>0</td>
            <td>65 535</td>
        </tr>
        <tr>
            <td class="aqua">long</td>
            <td>4 octets</td>
            <td>-2 147 483 648</td>
            <td>2 147 483 647</td>
        </tr>
        <tr>
            <td class="aqua">unsigned long</td>
            <td>4 octets</td>
            <td>0</td>
            <td>4 294 967 295</td>
        </tr>
        <tr class="long"> 
            <td class="aqua">long long</td>
            <td>8 octets</td>
            <td>-9 223 372 036 854 780 000</td>
            <td>9 223 372 036 854 780 000</td>
        </tr>
        <tr class="long">
            <td class="aqua">unsigned long long</td>
            <td>8 octets</td>
            <td>0</td>
            <td>18 446 744 073 709 600 000</td>
        </tr>
        <tr>
            <td class="aqua">float</td>
            <td>4 octets</td>
            <td>-3 4e38</td>
            <td>3.4e38</td>
        </tr>
        <tr>
            <td class="aqua">double</td>
            <td>8 octets</td>
            <td>-1.7e308</td>
            <td>1.7e308</td>
        </tr>
        <tr>
            <td class="aqua">long double</td>
            <td>10 octets</td>
            <td>-1.1e4932</td>
            <td>1.1e4932</td>
        </tr>
    </table>
    <img id="img-reserved-words" src="https://slideplayer.fr/slide/1656773/6/images/48/Mots+r%C3%A9serv%C3%A9s+du+language+C.jpg"  alt="list of reserved names in language c" width="40%" height="40%">  
</body>
</html>