body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

table {
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

th {
    font-weight: bold;
    background-color: aqua;
}

.aqua {
    background-color: aqua;
}

.long {
    color: green;
}

#img-reserved-words {
    min-height: 400px;
    min-width: 400px;
    border: 1px solid black;
}