table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

th {
    font-weight: bold;
    background-color: aqua;
}

.aqua {
    background-color: aqua;
}

.long {
    color: green;
}